<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsj.safebox"
    android:versionCode="1"
    android:versionName="1.0.0"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/safebox_logo"
        android:label="@string/safebox"
        android:uiOptions="splitActionBarWhenNarrow"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lsj.safebox.ui.Splash_MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lsj.safebox.ui.HomeActivity" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:configChanges="keyboardHidden|screenSize|orientation">
            
         </activity>   
        <activity android:name="com.lsj.safebox.ui.SettingActivity" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.SecurityActivity" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.SecurityActivity_setup_one" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.SecureCommActivity" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.QueryAddressActivity" 
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.DragViewActivty"
            	  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.lsj.safebox.ui.CallSmsSafeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.SoftwareManagerViewActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
            
        <activity
            android:name="com.lsj.safebox.ui.FileExporerTabActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="sensor"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter >
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.lsj.safebox.ui.BlockingRuleViewActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.SoftManagerActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.SmsBackupActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            	  android:configChanges="keyboardHidden|screenSize|orientation"/>
        <activity android:name="com.lsj.safebox.ui.AntiVirusActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            	  android:configChanges="keyboardHidden|screenSize|orientation"/>
        <activity android:name="com.lsj.safebox.ui.SystemOptActivityView"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                  android:configChanges="keyboardHidden|screenSize|orientation"/>
        <activity android:name="com.lsj.safebox.ui.TaskManagerActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                  android:configChanges="keyboardHidden|screenSize|orientation"
                  />
        <activity android:name="com.lsj.safebox.ui.TaskManagerSettingActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                  android:configChanges="keyboardHidden|screenSize|orientation"/>
        <activity android:name="com.lsj.safebox.ui.DefenseActivityView"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                  android:configChanges="keyboardHidden|screenSize|orientation"/>
        <activity android:name="com.lsj.safebox.receiver.MyAppWidget"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.PrivacyViewActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.AppLockActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.EnterPwdActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>
        <activity android:name="com.lsj.safebox.ui.CleanCacheActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:configChanges="keyboardHidden|screenSize|orientation"/>
        <activity android:name="com.lsj.safebox.ui.Stranger_set"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.Trule"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.utils.Province"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.utils.City"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name="com.lsj.safebox.ui.Time_set"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        
        
        
        <receiver android:name="com.lsj.safebox.receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lsj.safebox.receiver.SmsReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.Admin"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.lsj.safebox.receiver.MyAppWidget">
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info"/>
        </receiver>
        <receiver android:name="com.lsj.safebox.receiver.AutoKillProcessReceiver">
            <intent-filter>
                <action android:name="com.lsj.safebox.killprocess"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        
        

        <!-- 软件管理 开始 -->
         
        
        <activity android:name="com.lsj.safebox.ui.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <activity
            android:name="com.lsj.safebox.ui.FileExplorerPreferenceActivity"
            android:label="@string/menu_setting"
            android:launchMode="singleTop">
        </activity>
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />
        <!-- 软件管理 结束 -->

        <service android:name="com.lsj.safebox.service.FTPServerService" />
        <service android:name="com.lsj.safebox.service.service.LocationService" />
        <service android:name="com.lsj.safebox.service.AddressService" />
        <service android:name="com.lsj.safebox.service.BlankNumService" />
        <service android:name="com.lsj.safebox.service.KillProcessService"/>
        <service android:name="com.lsj.safebox.service.UpdateAppWidgetService"/>
        <service android:name="com.lsj.safebox.service.MonitorSerivce"/>
        
    </application>

</manifest>